* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   line-height: 1;
   background-color: #1C1A30;
}

h1 {
   margin-bottom: 40px;
   color: #1C1A30;
   text-transform: uppercase;
}

a {
   text-decoration: none;
   color: #1C1A30;
}


.container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

}


.logo {
  margin: 100px;
   background: url('../css/img/firstPageLogo.jpg') center no-repeat;
   width: 250px;
   height: 250px;
}


.content {
 background-color: #fff;
 padding: 50px;
}

.content li {
   background: url('../css/img/marker.png') left no-repeat;
   
   position: relative;
   padding: 20px 40px;
   margin-bottom: 10px;
   list-style-type: none; 
   border-top: 1px solid #4E203C;
}


.content li:last-child {
   margin-bottom: 0;
}


.content li:hover {
   background: url('../css/img/marker_hover.png') left no-repeat;
   border-color: #FC5135;
}
