body {
    background:url('../css/images/background.jpg') center center no-repeat fixed;
    background-size: cover;
    color: #1C1A30;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a {
    padding: 15px;
    color: #1C1A30;
    text-decoration: none;
}

a::before {
    content: '\27AD';
    font-weight: 400;
    font-size: 22px;
}


a:hover {
    color: #d0db39;
}


.container {
    margin: 10px;
    padding: 10px 10px 20px 10px;

    width: max-content;
    background: rgb(255, 255, 255, 0.4);;
}

p {
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

p:first-child{
    padding-top: 0;
}

p:hover {
 color: #179270;
}


code {
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.3); 
    
}

code:last-child{
    padding-bottom: 0;
}


