* {
margin: 0;
padding: 0;
}



#trafficLight1, #trafficLight2, #trafficLight3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    
    margin: 10px;
    margin-left: 45%;
    
    
  }

body {
  background:url('../css/images/background.jpg') center center no-repeat fixed;
  background-size: cover;
   
  font-family: 'Montserrat', sans-serif;

}

.container {
  margin-top: 20vh;
  padding: 30px;
  
  background-color: rgb(255, 255, 255, 0.5);
}


a {
  padding: 10px;
  color: #1C1A30;
  text-decoration: none;

  font-size: 20px;
}

a::before {
    content: '\27AD';
    font-weight: 400;
    font-size: 22px;
}


a:hover {
    color: #085d6a;
}
